
svg {
  font-size: 14px;
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

.axis path {
  display: none;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle {
  fill: #ccc;
  fill-opacity: .6;
}

.legend circle {
  fill-opacity: 1;
}

.legend text {
  font-size: 18px;
  font-style: oblique;
}

.cell text {
  pointer-events: none;
}


.ALB {
  fill: #800;
}

.ARG {
  fill: #080;
}

.AUT {
  fill: #008;
}

.BRA {
  fill: #088;
}

.ESP {
  fill: #808;
}

.GBR {
  fill: #880;
}

.GRC {
  fill: #033;
}

.HRV {
  fill: #303;
}

.ITA {
  fill: #330;
}

.JPN {
  fill: #003;
}

.MEX {
  fill: #030;
}

.NOR {
  fill: #300;
}

.SAU {
  fill: #408;
}

.SWE {
  fill: #840;
}

.TUR {
  fill: #480;
}

.USA {
  fill: #048;
}


.crisis-no {
  fill: #ccc;
  fill-opacity: .5;
}

.crisis-yes {
  fill: #800;
}

.hidden {
  fill: #ccc;
  fill-opacity: .2;
}

.hidden-row {
	display: none;
}



#slider-years , #slider {
	width: 600px;
}



#tabs {
	width: 600px;
	height: 400px;
	font-size: 12px;
}


#tabs-1, #tabs-2, #tabs-3 {
	height: 350px;
	padding: 0.4em 0.4em; 
	font-family:"Courier New", Courier, monospace;
	font-size: 11px;
	overflow-y: auto;
}


#data-table {
	border-collapse:collapse;
}

#data-table tr td {
	border:1px solid orange;
}

#data-list p {
	line-height: 75%;
}


#data-table > tr:hover , #data-list > p:hover , #years-table > p > span:hover
{
	color:red;
	cursor:default;
}

#years-table
{
	font-family:"Courier New", Courier, monospace;
	font-size: 11px;
	width: 600px;
}

.highlighted-year {
	color:red;
}

#rules-display {
	font-family:"Courier New", Courier, monospace;
	font-size: 14px;
	border:1px dashed;
	border-radius:5px;
	border-color:gray;
	padding:10px;
	width:600px;
	overflow:auto;
}

.animated-description {
	font-family:"Courier New", Courier, monospace;
	font-size: 11px;
	border:1px dashed;
	border-radius:3px;
	border-color:gray;
	padding:10px;
	width:600px;
	overflow:auto;
	background: powderblue;
	margin-bottom:5px;
}

.tooltip {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	color: rgb(28, 148, 196);
	font-size: 11px;
	font-weight: bold;
}

.tooltip:hover {
	color:orange;
	cursor:default;
}

.variable {
	color:steelblue;
}

.operator {
	color:black;
}

.value {
	color:darkorange;
}
