
svg {
    font: 10px sans-serif;
}
.axis {
    shape-rendering: crispedges;
}
.axis line {
    stroke: #DDDDDD;
    stroke-width: 0.5px;
}
.axis path {
    display: none;
}
rect.extent {
    fill: #000000;
    fill-opacity: 0.125;
    stroke: #FFFFFF;
}
rect.frame {
    fill: #FFFFFF;
    fill-opacity: 0.7;
    stroke: #AAAAAA;
}
circle {
    fill: #CCCCCC;
    fill-opacity: 0.5;
}
.cell text {
    pointer-events: none;
}
.setosa {
    fill: #880000;
}
.versicolor {
    fill: #008800;
}
.virginica {
    fill: #000088;
}
