body {
  /* font: 300 36px "Helvetica Neue"; // Problems with multiselect filter widgets! */
  height: 640px;
  /* margin: 80px 160px 80px 160px; */
  margin-top: 1em;
  /* overflow: hidden; */
  /* position: relative; // Problems with multiselect filter widgets! */
  width: 960px;
}

/*
a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}
*/


.body {
    margin: auto;
    /*width: 960px;*/
}

.content {
    margin-left: 100px;
    position: relative;
}

a {
    color: steelblue;
    text-decoration: none;
	font: 14px Helvetica Neue;
}
a:hover {
    text-decoration: underline;
}

.topbar a {
    margin-right: 0.5em;
}


blockquote {
  margin: 0;
}

blockquote:before {
  content: "";
  position: absolute;
  left: -.4em;
}

blockquote:after {
  content: "";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0.3em;
}

h1, h2, h3 {
  font-weight: inherit;
  /*margin: 0;*/
}

h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  position: absolute;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}

.loading {
	display:    block;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0; 
	height:     100%;
    width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
				url('../ajax-loader-steelblue.gif')
                50% 50% 
                no-repeat;
}

.error {
	display:    block;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0; 
	height:     100%;
    width:      100%;
	background: rgba( 255, 255, 255, .8 );
}

.error > p {
    color: steelblue;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-top: 25%;
    margin-left: 5%;
}

#chart {
	position: relative;
	overflow: overlay;
	margin-top:20px;
}

.description {
	font: 14px Helvetica Neue;
}

.select-description {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	color: rgb(28, 148, 196);
	font-size: 14px;
	font-weight: bold;
}
