{% extends "base.html" %}

{% block javascript %}

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link type="text/css" rel="stylesheet" href="/static/css/asas.css"/>

 <style type="text/css">

svg {
  font-size: 14px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

.axis path {
  display: none;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle {
  fill: #ccc;
  fill-opacity: .5;
}

.legend circle {
  fill-opacity: 1;
}

.legend text {
  font-size: 18px;
  font-style: oblique;
}

.cell text {
  pointer-events: none;
}

.setosa {
  fill: #800;
}

.versicolor {
  fill: #080;
}

.virginica {
  fill: #008;
}

    </style>

{% endblock %}
	
{% block content %}

<h2 style="font-size:24px;">
      Edgar Andersons <i>Iris</i> data set<br>
      scatterplot matrix
    </h2>
	<script type="text/javascript" src="/static/js/d3.v2.js"></script>
	<script type="text/javascript" src="/static/js/csv.js"></script>
	<script type="text/javascript" src="/static/js/parse.js"></script>
    <!-- <script type="text/javascript" src="d3/d3.js"></script>
    <script type="text/javascript" src="d3/d3.csv.js"></script> -->
	
	<script type="text/javascript" src="/static/js/iris.js"></script>

{% endblock %}
