{% extends "base.html" %}

{% block title %}{% endblock %}
{% block page_title %}{% endblock %}

{% block javascript %}
	<script src="/static/js/example_chart.js" type="text/javascript"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.multiselect.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiselect.js"></script>
	
	<script type="text/javascript">
	$(function(){
		$("select").multiselect();
		$("#send-request").button();
		
		//$("#send-request").click( function(){
		//	$.ajax("../getdata/", {
		//		data: {
		//			countries: $("select").val()
		//		}
		//	});
		//});
		
		$("#send-request").click( requestData2 );
		
		
	});
	</script>

{% endblock %}

{% block content %}

<!-- 
Loaded countries:
<table>
	{% for v in countries %}
		<tr><td>{{v}}</td></tr>
	{% endfor %}
</table>
-->

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<h3>Select countries:</h3>
<p>
	<table>
	<tr><td>	
	<select title="Basic example" multiple="multiple" name="example-basic" size="5">
	<!-- {% for v in countries %}
		<option value="{{v}}">{{v}}</option>
	{% endfor %} -->
	<option value="HRV">HRV</option>
	<option value="ITA">ITA</option>
	<option value="BRA">BRA</option>
	<option value="USA">USA</option>
	</select>
	</td>
	<td>
	<button id="send-request">Send request</button>
	</td></tr>
	</table>
</p>


{% endblock %}

