<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	
	<script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/static/js/highcharts.js" type="text/javascript"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/css/scatter-matrix.css"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.multiselect.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.multiselect.filter.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
	
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiselect.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiselect.filter.js"></script>
	
	<script type="text/javascript">
	$(function(){
		$("#selectCountries").multiselect().multiselectfilter();
		$("#selectIndicators").multiselect().multiselectfilter();
		$("#send-request").button();
		$("#send-request").click( requestData );
		
		
		//$("#selectIndicators").multiselect({ 
		//   header: "Select only TWO indicators!",
		//   click: function(e){
		//       if( $(this).multiselect("widget").find("input:checked").length > 2 ){
		//           return false;
		//       }
		//   }
		//});
		
		$("#change-mode").buttonset();
		$("#change-mode").change( changeMode );
		
		
		$( "#slider-years" ).slider({
			range: true,
			min: 0,
			max: 500,
			values: [ 1950, 2012 ],
			slide: function( event, ui ) {
				$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
			}
		});
		$( "#amount" ).val( $( "#slider-years" ).slider( "values", 0 ) + " - " + $( "#slider-years" ).slider( "values", 1 ) );
		
		
	});
	</script>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
	
	<!--
	<style type="text/css">
	    /* make default button size sane */
	    .ui-button-text {
	        font-size: .6em;
	    }
		ui-multiselect-menu ui-widget ui-widget-content ui-corner-all {
			font-size: .6em;
		}
	</style>
	-->
	
	<script type="text/javascript" src="/static/js/d3.v2.js"></script>
	<script type="text/javascript" src="/static/js/csv.js"></script>
	<script type="text/javascript" src="/static/js/parse.js"></script>

	<style>
		#demo-frame > div.demo { padding: 10px !important; };
	</style>

</head>

<body>
	
	<div class="body">
		
		<div class="content">
			
			<div id="chart"> </div>
			<!-- <link type="text/css" rel="stylesheet" href="/static/css/splom.css"> -->
			<script type="text/javascript" src="/static/js/scatter-matrix.js"></script>
		
			<!-- <h3>Select countries and indicators:</h3> -->
			
			<table>
			<tr><td>	
			<select title="Select countries" multiple="multiple" name="select-countries" size="5" id="selectCountries">
			<!-- {% for v in countries %}
				<option value="{{v}}">{{v}}</option>
			{% endfor %} -->
			<option value="ALB">ALB</option>
			<option value="ARG">ARG</option>
			<option value="AUT">AUT</option>
			<option value="BRA">BRA</option>
			<option value="ESP">ESP</option>
			<option value="GBR">GBR</option>
			<option value="GRC">GRC</option>
			<option value="HRV">HRV</option>
			<option value="ITA">ITA</option>
			<option value="JPN">JPN</option>
			<option value="MEX">MEX</option>
			<option value="NOR">NOR</option>
			<option value="SAU">SAU</option>
			<option value="SWE">SWE</option>
			<option value="TUR">TUR</option>
			<option value="USA">USA</option>
			</select>
			</td>
			<td>	
			<select title="Select indicators" multiple="multiple" name="select-indicators" size="5" id="selectIndicators">
			<option value="FR.INR.RINR" selected="selected">FR.INR.RINR</option>
			<option value="SL.UEM.TOTL.ZS" selected="selected">SL.UEM.TOTL.ZS</option>
			<option value="SP.POP.TOTL">SP.POP.TOTL</option>
			<option value="NY.GDP.PCAP.KD">NY.GDP.PCAP.KD</option>
			<option value="NY.GDP.MKTP.KD.ZG">NY.GDP.MKTP.KD.ZG</option>
			</select>
			</td>
			<td>
			<button id="send-request">Send request</button>
			</td></tr>
			</table>
			
			<textarea id="data-table" readonly="yes" wrap="off" cols="74" rows="5"></textarea>
			
			<div id="change-mode">
				<input type="radio" id="radio1" name="radio" value="normal" checked="checked" /><label for="radio1">Normal mode</label>
				<input type="radio" id="radio2" name="radio" value="crisis" /><label for="radio2">Crisis mode</label>
			</div>
			
			<p>
				<label for="amount">Year range:</label>
				<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
			</p>
			<div id="slider-years"></div>
			
		</div>
		
	</div>


</body>
</html>


