<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	
	<script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/static/js/highcharts.js" type="text/javascript"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/css/scatter-matrix.css"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.multiselect.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.multiselect.filter.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
	
	<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiselect.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multiselect.filter.js"></script>
	
	<script type="text/javascript">
	$(function(){
		$("#selectCountries").multiselect().multiselectfilter();
		$("#selectWBIndicators").multiselect().multiselectfilter();
		$("#selectRCAIndicators").multiselect().multiselectfilter();
		$("#send-request").button();
		$("#send-request").click( requestData );
		
		
		//$("#selectIndicators").multiselect({ 
		//   header: "Select only TWO indicators!",
		//   click: function(e){
		//       if( $(this).multiselect("widget").find("input:checked").length > 2 ){
		//           return false;
		//       }
		//   }
		//});
		
		$("#change-mode").buttonset();
		$("#change-mode").change( changeMode );
		
		
		$( "#slider-years" ).slider({
			range: true,
			min: 1950,
			max: 2012,
			values: [ 1950, 2012 ],
			slide: function( event, ui ) {
				var lowValue = ui.values[ 0 ];
				var highValue = ui.values[ 1 ];
				
				$( "#amount" ).val( lowValue + " - " + highValue );

				d3.selectAll(".cell circle")
				  .classed("hidden",function(d){
				  	         			return (d.date>=lowValue) && (d.date<=highValue) ? 0 : 1;});
										
				d3.selectAll("#data-table > tr:not(:first-child)")				  
				  .classed("hidden-row",function(d,i){
				  	         			return (d.date>=lowValue) && (d.date<=highValue) ? 0 : 1;});
										
				d3.selectAll("#data-list > p:not(:first-child)")				  
				  .classed("hidden-row",function(d){
				  	         			return ((d.date>=lowValue) && (d.date<=highValue)) ? 0 : 1;});
										
				d3.selectAll("#years-table > p > span")				  
				  .classed("highlighted-year",function(d){ 
				  						return ((d>=lowValue) && (d<=highValue)) ? 1 : 0;});
				  
			}
		});
		$( "#amount" ).val( $( "#slider-years" ).slider( "values", 0 ) + " - " + $( "#slider-years" ).slider( "values", 1 ) );
		
		$( "#tabs" ).tabs();
		
		
		
		$( "#slider" ).slider({
			min: 1950,
			max: 2012,
			value: 1950,
			slide: function( event, ui ) {
				$( "#year" ).val( ui.value );

				d3.selectAll(".cell circle")
				  .classed("hidden",function(d){ return (d.date==ui.value) ? 0 : 1; });
										
				d3.selectAll("#data-table > tr:not(:first-child)")				  
				  .classed("hidden-row",function(d,i){ return (d.date==ui.value) ? 0 : 1; });
										
				d3.selectAll("#data-list > p:not(:first-child)")				  
				  .classed("hidden-row",function(d){ return (d.date==ui.value) ? 0 : 1; });
				  
				d3.selectAll("#years-table > p > span")				  
				  .classed("highlighted-year",function(d){ return (d==ui.value) ? 1 : 0; });
				  
			}
		});
		
		$( "#year" ).val( $( "#slider" ).slider( "value" ));
		
		$("#rules-textarea").live("keyup", 
			function(d) {
				$('#rules-display').empty();
				// Extract all rules of the form:
				//	(var1=0.1) (var2<=-0.2) etc. for floating variables
				//	(var1=True) (var2#red) etc. for cathegorical (and boolean) variables 
				var rulesList = $(this).val().match(/\(\s*(\w+\s*(<|>|=|<=|>=)\s*(-?(0|([1-9]\d*))(\.\d+)?)|\w+\s*(=|#)\s*(\w+))\s*\)/g);
				
				//if (rulesList==undefined)
				//{
					d3.selectAll(".cell circle").classed("hidden",0);
				//}
				
				for (i in rulesList)
				{
					// Extract variable, operator and value from each matched rules.
					var parsedRule = rulesList[i].match(/\(\s*(?:(\w+)\s*(<|>|=|<=|>=)\s*(-?(?:0|(?:[1-9]\d*))(?:\.\d+)?)|(\w+)\s*(=|#)\s*(\w+))\s*\)/);
					parsedRule = parsedRule.filter(function(d){return d!=undefined;});
					$('#rules-display').append( "(" + 
												"<span class=\"variable\">" + parsedRule[1] + "</span>" +
												"<span class=\"operator\">" + parsedRule[2] + "</span>" +
												"<span class=\"value\">" + parsedRule[3] + "</span>" +
												")" );
					var filterData;
					
					/*
					switch (parsedRule[2])
					{
						case "<":
							filterData = function(d){ return (d[parsedRule[1]] < parsedRule[3]) ? 0 : 1; };
							break;
						case ">":
							filterData = function(d){ return (d[parsedRule[1]] > parsedRule[3]) ? 0 : 1; };
							break;
						case "<=":
							filterData = function(d){ return (d[parsedRule[1]] <= parsedRule[3]) ? 0 : 1; };
							break;
						case ">=":
							filterData = function(d){ return (d[parsedRule[1]] >= parsedRule[3]) ? 0 : 1; };
							break;
						case "=":
							filterData = function(d){ return (d[parsedRule[1]] = parsedRule[3]) ? 0 : 1; };
							break;
						default:
							filterData = function(d){ return 0; };
							break;
					}					
					d3.selectAll(".cell circle").classed("hidden",filterData);
					*/
					
					switch (parsedRule[2])
					{
						case "<":
							filterData = function(d){ return (d[parsedRule[1]] < parsedRule[3]) ? 0 : 1; };
							break;
						case ">":
							filterData = function(d){ return (d[parsedRule[1]] > parsedRule[3]) ? 0 : 1; };
							break;
						case "<=":
							filterData = function(d){ return (d[parsedRule[1]] <= parsedRule[3]) ? 0 : 1; };
							break;
						case ">=":
							filterData = function(d){ return (d[parsedRule[1]] >= parsedRule[3]) ? 0 : 1; };
							break;
						case "=":
							filterData = function(d){ return (d[parsedRule[1]] == parsedRule[3]) ? 0 : 1; };
							break;
						case "#":
							filterData = function(d){ return (d[parsedRule[1]] != parsedRule[3]) ? 0 : 1; };
							break;
						default:
							filterData = function(d){ return 0; };
							break;
					}					
					d3.selectAll(".cell circle").filter(filterData).classed("hidden",1);
				}
				
				});
		
	});
	</script>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
	
	<script type="text/javascript" src="/static/js/d3.v2.js"></script>
	<script type="text/javascript" src="/static/js/csv.js"></script>
	<script type="text/javascript" src="/static/js/parse.js"></script>

	<style>
		#demo-frame > div.demo { padding: 10px !important; };
	</style>

</head>

<body>
	
	<div class="body">
		
		<div class="content">
			
			<div class="topbar">
			<a href="http://lis.irb.hr/foc/index.html">Home</a>
			<a href="http://lis.irb.hr/foc/methods/methods.html">Methods</a>
			<a href="http://lis.irb.hr:8080/focd3/">Widgets</a>
			<!-- <a href="http://127.0.0.1:8080/focd3/">Widgets</a> -->
			<a href="http://lis.irb.hr/foc/sources/sources.html">Data Sources</a>
			<a href="http://lis.irb.hr/foc/data/data.html">Datasets Download</a>
			<a href="http://lis.irb.hr/foc/publications/publications.html">Publications</a>
			<a href="http://lis.irb.hr/foc/people/people.html">People</a>
			</div>
			
			<h1>Scatterplot matrix</h1>
			
			<span class="description">
			<p>This is the visualization of World Bank and RCA data on a scatter plot matrix. 
			World Bank data is retrieved directly from the <a href="http://data.worldbank.org">data.worldbank.org</a>,
			while RCA data is retrieved locally from file that is available on C. Hidalgo's <a href="http://www.chidalgo.com/productspace/data.htm">page</a>. </p>
			</span>
			
			<div id="chart">  
				<div id="screen"></div>
				<div id="placeholder" style="height:400px;width:600px;border:1px dashed;border-radius:5px;border-color:gray;padding:20px;"> 
					<p style="color:gray;font-family:Courier;margin:0;">Select some countries and indicators...</p>
				</div> 
			</div>
			
			<!-- <link type="text/css" rel="stylesheet" href="/static/css/splom.css"> -->
			<script type="text/javascript" src="/static/js/scatter-matrix.js"></script>
		
		
			<p class="select-description">Write some rules: <span class="tooltip" title="Rules should be in format (var1<=-0.43)(Var_2=0)...">(how?)</span></p>
			<textarea id="rules-textarea" wrap="off" cols="75" rows="1"></textarea>
			<p class="select-description">Matched rules:</p>
			<div id="rules-display"></div>
		
			
			
			<table style="margin-top:20px">
			<tr class="select-description"> <td>Countries:</td> <td>World Bank indicators:</td> <td>RCA indicators:</td> <td></td> </tr>
			<tr><td>	
			<select title="Select countries" multiple="multiple" name="select-countries" size="5" id="selectCountries">
			<!-- {% for v in countries %}
				<option value="{{v}}">{{v}}</option>
			{% endfor %} -->
			<option value="ALB">ALB</option>
			<option value="ARG">ARG</option>
			<option value="AUT">AUT</option>
			<option value="BRA">BRA</option>
			<option value="ESP">ESP</option>
			<option value="GBR">GBR</option>
			<option value="GRC">GRC</option>
			<option value="HRV">HRV</option>
			<option value="ITA">ITA</option>
			<option value="JPN">JPN</option>
			<option value="MEX">MEX</option>
			<option value="NOR">NOR</option>
			<option value="SAU">SAU</option>
			<option value="SWE">SWE</option>
			<option value="TUR" selected="selected">TUR</option>
			<option value="USA" selected="selected">USA</option>
			</select>
			</td>
			<td>	
			<select title="Select WB indicators" multiple="multiple" name="select-wb-indicators" size="5" id="selectWBIndicators">
			<option value="FR.INR.RINR" selected="selected">FR.INR.RINR</option>
			<option value="SL.UEM.TOTL.ZS" selected="selected">SL.UEM.TOTL.ZS</option>
			<option value="SP.POP.TOTL">SP.POP.TOTL</option>
			<option value="NY.GDP.PCAP.KD">NY.GDP.PCAP.KD</option>
			<option value="NY.GDP.MKTP.KD.ZG">NY.GDP.MKTP.KD.ZG</option>
			</select>
			</td>
			<td>	
			<select title="Select RCA indicators" multiple="multiple" name="select-rca-indicators" size="5" id="selectRCAIndicators">
			<option value="0010">0010</option>
			<option value="0011" selected="selected">0011</option>
			<option value="0012">0012</option>
			<option value="0013">0013</option>
			</select>
			</td>
			<td>
			<button id="send-request">Send request</button>
			</td></tr>
			</table>
			
			<!-- <textarea id="data-table" readonly="yes" wrap="off" cols="74" rows="5"></textarea> -->
			
			<div id="change-mode">
				<input type="radio" id="radio1" name="radio" value="normal" checked="checked" /><label for="radio1">Normal mode</label>
				<input type="radio" id="radio2" name="radio" value="crisis" /><label for="radio2">Crisis mode</label>
			</div>
			
			<p>
				<label for="amount">Year range:</label>
				<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
			</p>
			<div id="slider-years"></div>
			
			
			
			
			
			<div style="width:500px; height:20px"></div>
			
			<p>
				<label for="year">Year:</label>
				<input type="text" id="year" style="border:0; color:#f6931f; font-weight:bold;" />
			</p>
			<div id="slider"></div>
			
			<div style="width:500px; height:20px"></div>
			
			
			
			
			<!-- <table id="years-table"> <tbody> <tr></tr> </tbody> </table> -->
			<div id="years-table"> <p></p> </div> 
			
			<div style="width:500px; height:20px"></div>
			
			
			
			<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Table</a></li>
				<li><a href="#tabs-2">Text</a></li>
				<li><a href="#tabs-3">Raw text</a></li>
			</ul>
			<div id="tabs-1">
				<table id="data-table"> </table>	
			</div>
			<div id="tabs-2">
				<div id="data-list"> </div> 
			</div>
			<div id="tabs-3">
				<textarea id="data-textarea" readonly="yes" wrap="off" cols="80" rows="20"></textarea>
			</div>
			</div>
			
			
			
			
			<div id="empty-div" style="width:500px; height:200px"></div>
			
		</div>
		
		
	</div>


</body>
</html>


